<!DOCTYPE html>
<html>
  <head>
    <title><%= titleCap %></title>
    <link href="/css/movie_list.css" rel="stylesheet" type="text/css" />
  </head>
  <div id="textbox">
    <h1 class="alignleft"><a href="/">back</a></h1>
    <h1 class="aligncenter"><a href="/">Rumah Daud</a></h1>
  </div>
  <div style="clear: both"></div>
  <div id="textbox">
    <h1 class="alignleft"></h1>
    <h1 class="aligncenter"><%= titleCap %></h1>
  </div>
  <div style="clear: both"></div>
  <body>
    <center>
      <ul class="list" id="chapter"></ul>
    </center>
    <script>
      var files = <%- JSON.stringify(files) %>;
    </script>
    <script>
      var title = <%- JSON.stringify(title) %>;
    </script>
    <script src="/js/movie_list.js"></script>
  </body>
</html>
